{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--<h1>Pagina de cobro</h1>
<p>Pagar Suscripcion de $100</p>
-->
<h1>{{ Pelicula.Nombre}}</h1>
<p>El pago es: {{Pelicula.Precio}}</p>
<form action="{% url 'charge' %}" method="post">{% csrf_token %}
<input type="hidden" value="{{Pelicula.Precio}}" id = Precio name="Precio" >

<input type="hidden" value="{{Pelicula.Nombre}}" id = Nombre name="Nombre" >
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"
    data-description="Pagar la pelicula: {{ Pelicula.Nombre}}"
    data-amount="{{Pelicula.Precio}}00"
    data-locale="auto">
</script>
</form>
{% endblock content %}
